doctype html
html.no-js(lang='pl')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    section
      .normal-menu
        nav.navbar-color.navbar-fixed-top
          .container
            .navbar-header
              img.logo(src='img/logo.png')
            ul.navbar-nav.navbar-right
              li
                a.text-uppercase.btn(href='#')
                  strong about us
              li
                a.text-uppercase.btn.btn-color(href='#')
                  strong get the app
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='30px', height='25px', viewbox='0 0 30 25', enable-background='new 0 0 30 25', xml:space='preserve')
                    rect(x='2.875', y='0', width='30', height='5')
                    rect(x='2.875', y='10', width='30', height='5')
                    rect(x='2.875', y='20', width='30', height='5')
                ul.dropdown-menu.text-uppercase
                  li
                    a(href='#') menu item 1
                  li
                    a(href='#') menu item 2
                  li
                    a(href='#') menu item 3
                  li
                    a(href='#') menu item 4
      .menu-mobile
        nav.navbar-color.navbar-fixed-top
          .container
            .navbar-header
              img.logo(src='img/logo.png')
              .dropdown.navbar-right
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='30px', height='25px', viewbox='0 0 30 25', enable-background='new 0 0 30 25', xml:space='preserve')
                    rect(x='2.875', y='0', width='30', height='5')
                    rect(x='2.875', y='10', width='30', height='5')
                    rect(x='2.875', y='20', width='30', height='5')
                ul.dropdown-menu.text-uppercase
                  li
                    a.btn(href='#')
                      strong about us
                  li
                    a.btn.btn-color(href='#')
                      strong get the app
                  li
                    a(href='#') menu item 1
                  li
                    a(href='#') menu item 2
                  li
                    a(href='#') menu item 3
                  li
                    a(href='#') menu item 4
      .top
        .container
          .row.top-row.col-sm-12
            img.top-image.img-responsive(src='img/bg-image.png')
            .top-aside.text-left.text-uppercase
              p welcome to
              p
                strong paradise
              .btn.btn-color
                strong learn more
    section.info
      .container
        .row.text-center
          .col-sm-4.col-xs-12
            .info-block
              .info-content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis facere, maxime, modi repellat ducimus id quis quia. A adipisci maxime at. Blanditiis hic sint, voluptatibus unde necessitatibus dolores quidem numquam.
              .btn.btn-color.btn-article
                strong BUTTON # 1
          .col-sm-4.col-xs-12
            .info-block.text-center
              .info-content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui reiciendis repellendus deleniti eaque, enim distinctio. Iusto asperiores nisi, labore dolores reiciendis doloremque. Cum, quidem officiis. Officiis est cupiditate quis! Explicabo!
              .btn.btn-color.btn-article
                strong BUTTON # 2
          .col-sm-4.col-xs-12
            .info-block.text-center
              .info-content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati atque perferendis sint repudiandae aspernatur, architecto sunt. Corrupti, voluptatem, veniam fugiat, facilis unde sit omnis, eum porro eius autem ut ratione.
              .btn.btn-color.btn-article
                strong BUTTON # 3
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
